<section class="product">
   <div class="container-fluid">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item" id="one">
            <div class="text" >ONE </div>
          </div>
          <div class="item" id="two">
            <div class="text">TWO</div>
          </div>
          <div class="item" id="three">
            <div class="text">THREE</div>
          </div>
          <div class="item" id="four">
            <div class="text">FOUR</div>
          </div>
          <div class="item" id="five">
            <div class="text">FIVE</div>
          </div>
        </div>
        <div class="button-area">
          <button type="button" class="Prev" appPrev>Prev</button>
          <button type="button" class="Next" appNext>Next</button>
        </div>
      </div>
   </div>
</section>